<html>
	<HEAD>
		<title>
			Explore
		</title>
		<link rel="stylesheet" type="text/css" href="static/styles/search.css" />
		<link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</HEAD>
	<BODY>
		<div class="header">
				Quixotic journal

			<nav>
				<div class="icon-bar">
					{% if type!='reader': %}
  				<a href="{{ url_for('writer')}}"><i class="fa fa-home"> Home</i></a>
				<a href="{{url_for('search')}}"><i class="fa fa-search"> Search</i></a>
  				<a href="{{ url_for('journals')}}"><i class="fa fa-book"> Journals</i></a>
                <a class = "active" href="{{ url_for('explore')}}"><i class="fa fa-bank">Explore</i></a>
				<a href="{{url_for('poets')}}"><i class="	fa fa-address-card"> Poets board</i></a>
				<a href="{{ url_for('machine') }}"><i class="fa fa-cube"> Play'w poems</i></a>
  				<a href="{{ url_for('profile')}}"><i class="fa fa-user-circle-o"> Profile</i></a>
  				<a href="{{ url_for('help')}}"><i class="fa fa-support"> Help</i></a>
					{% else: %}
				<a href="{{ url_for('writer')}}"><i class="fa fa-home"> Home</i></a>
                <a class = "active" href="{{ url_for('explore')}}"><i class="fa fa-bank">Explore</i></a>
				<a href="{{url_for('poets')}}"><i class="	fa fa-address-card"> Poets board</i></a>
				<a href="{{ url_for('machine') }}"><i class="fa fa-cube"> Play'w poems</i></a>
  				<a href="{{ url_for('profile')}}"><i class="fa fa-user-circle-o"> Profile</i></a>
  				<a href="{{ url_for('help')}}"><i class="fa fa-support"> Help</i></a>
					{% endif %}
				</div>
			</nav>

		</div>

		<br>

		<center>
		<form class="example"  name="example" action="{{url_for('explore')}}" method="post">
  			<input type="text" placeholder="Search for poems..." name="name" value="{{name}}">
  			<button type="submit" name="choice" value="search"><i class="fa fa-search"></i></button>
		</form>
		<table cellpadding="10px" width="80%"  align="center" border="0">
          <tr align="center">
            <td><b>Author</b></td>
            <td><b>Date - Time</b></td>
            <td><b>Name</b></td>
            <td><b>Poem</b></td>
          </tr>
			{%for d in data:%}
			<tr align="center">
				<form method="post" name="form1" action="{{url_for('explore')}}" >
				<td>{{d['user']}}</td>
				<td>{{d['dateTime']}}</td>
				<td><label name="p_name">{{d['poem_name']}}</label></td>
				<td>{{d['poem'].split("\n")[0]+"..."}}</td>
				<td><button type="submit" name="view" value="{{d['poem_name']}}"> View </button></td>
<!--				<td><button type="submit" name="choice" value="fork">Fork</button></td>-->
				</form>
			</tr>
			{%endfor%}
        </table>
      </center>
		</p>
	</BODY>
</html>